* {
  box-sizing: border-box;
  font-size: 16px;
}
  
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Balsamiq Sans', cursive; */
  /* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../content/images/default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
}

hr {
  margin-bottom: 20px;
}

#currentWeather-header {
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Balsamiq Sans', cursive; */
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 0 0;
  color: #ffa24a;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Search element and button */
.searchContainer {
  /* display: flex; */
  /* flex-direction: row; */
  padding: 15px;
  overflow: hidden; 
}
  .searchControl {
    box-shadow: 2px 2px 5px #000;
    border: 2px solid transparent;  
    border-radius: 5px;
    padding: 8px;
  }
  .searchContainer input {
    width: 300px;
  }

  .suggestions {
    position: absolute;
    border-top: 1px solid #999;
    width: 300px;
    max-height: 200px;
    overflow-y: hidden; 
    overflow-x: hidden;
    display: none;
  }
    .suggestions.show {
      display: block;
    }
    .suggestions > div {
      padding: 10px;
      font-size: 16px;
      background-color: #333;
      color: #fff;
      /* border-radius: 6px; */
      border-top: 2px solid #666;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
      .suggestions > div:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      .suggestions > div:hover, .suggestions > div.selected {
        background-color: rgb(1, 159, 198);
      }

  .searchContainer button {
    background-color: rgb(1, 159, 198);
    width: 75px;
    color: #fff;
    margin-left: 1px;
  }
  .searchContainer button:hover{
    background-color: transparent;
    border-color: rgb(1, 159, 198);
    transition: .2s linear;
    cursor: pointer;
  }
  #searchInput:hover, #searchInput:focus{
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(1, 159, 198);
    outline-offset: 1px;
    -moz-outline-radius: 7px;
    transition: .2s ease-in-out;
  }


/* Container for weather */
#weatherContainer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.342);
  box-shadow: 1px 1px 5px #000;
  border-radius: 10px;
  padding: 25px 0;
  visibility: hidden;
}
  #weatherContainer h1 {
    margin: 5px 5px 0 5px;
    font-size: 35px;
  }
  #weatherContainer h2 {
    margin: 0px 5px 15px 5px;
    font-size: 18px;
    display: inline-block;
  }
  .weatherMain {
    display: block;
    margin-bottom: 20px;
  }
    .weatherMain div {
      /* display: inline-block; */
    }
    #weatherDescriptionHeader {
      font-size: 25px;
      vertical-align: 50%;
    }
    #temperature {
      font-size: 50px;
      vertical-align: 60%;
      display: inline-block;
    }
    #min-max {
      font-size: 20px;
    }
  .bottom-details {
    display: inline-block;
    font-size: 20px;
    margin: 0 15px;
  }
  .bottom-icons {
    vertical-align: -75%;
    margin-right: 5px;
  }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  min-height: 100vh;
  z-index: -1;
  min-width: 100%;
}